body {
    font-family: 'Montserrat', sans-serif;
}

#map {
    min-height: 500px;
}

.row {
    margin: 10px 0;
}

.dropdown button {
    width: 100%;
    margin-top: 10px;
}

.dropdown-menu {
    width: 100%;
}
