body {
  font-family: 'Montserrat', sans-serif;
}

#map, #map-container {
  min-height: 500px;
}

.row {
  margin: 10px 0;
}

.dropdown button {
  width: 100%;
  margin-top: 10px;
}

.dropdown-menu {
  width: 100%;
}

#dropdown-sensor-container .dropdown-menu li a {
  text-transform: uppercase;
}

.container {
  width: 98% !important;
}

table {
  width: 100%;
}

#summary-table th {
  padding: 5px !important;
  color: #fff;
  text-align: center !important;
}

#summary-table td {
  padding: 5px !important;
  text-align: right !important;
}

#summary-table-container {
  min-height: 200px;
}

table, th, td {
  border: 1px solid black;
}

.dynatable-processing {
  top: -28px !important;
}

.introjs-helperNumberLayer {
  display: none;
}

#summary-table caption {
  text-align: right;
}

.error-message {
  color: #cc0000;
  font-weight: bold;
}

/* ------------------------ Download Table Page -------------------------- */
#download-table-page {
  width: 80%;
  margin: 2% auto 6%;
}

#download-table-page h4 {
  text-align: center;
  font-weight: bold;
}

#download-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  align:center;
}

#download-table th {
  color: white;
}
#download-table tr td:nth-child(1) {
  text-align:left;
  width:10%;
  vertical-align: middle;
}

#download-table tr td:nth-child(2) {
  align:center;
  width: 70%;
}

#download-table tr td:nth-child(3) {
  align:center;
  width: 11%;
  vertical-align: middle;
}

#download-table tr td:nth-child(4) {
  text-align:center;
  width: 9%;
  vertical-align: middle;
}


#download-table a {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #e7e7e7;
  color: black;
  opacity: 40%;
}
