body {
    font-family: 'Montserrat', sans-serif;
}

#map {
    min-height: 500px;
}

.row {
    margin: 10px 0;
}

.dropdown button {
    width: 100%;
    margin-top: 10px;
}

.dropdown-menu {
    width: 100%;
}

.container {
    width: 98% !important;
}

table {
    width: 100%;
}

th {
    padding: 5px !important;
    color: #fff;
    text-align: center !important;
}

td {
    padding:5px !important;
    text-align: right !important;
}

#summary-table-container {
    min-height: 200px;
}

table, th, td {
   border: 1px solid black;
}
